body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 650px;
    border: 2px solid rgb(212, 93, 0);
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    background-color: rgb(254, 127, 11);
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 200px;
    margin-right: 20px; 
}

.label h1 {
    margin: 0;
    font-size: 30px;
    color: #000000;
    margin-right: 20px;
    margin-top: 60px;
}

.tanggal {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 60px;

}

.tanggal h1 {
    margin: 0;
    font-size: 20px;
    color: #000000;
}

.tanggal p {
    margin: 0;
    font-size: 20px;
    color: #000000;
}

.highlight {
    background-color: #16FF00;
}

.tabel {
    height: 496px;
    width: 685px;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 667px;
    font-size: 14px;
}

th,
td {
    border: 1px solid rgb(212, 93, 0);
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: rgb(212, 93, 0);
    color: white;
}

/* Gaya untuk tiap sel */
td.id-cell {
    width: 5px;
}

td.nama-cell {
    width: 100px;
}

td.whatsapp-cell {
    width: 50px;
}

td.pet-cell {
    width: 100px;
}

td.notes-cell {
    width: 150px;
}

td.layanan-cell {
    width: 100px;
}

td.tanggal-cell {
    width: 150px;
}

td.button-cell {
    width: 100px;
}