.container {
    height: 360px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calendar-container {
    width: 450px;
    height: 358px;
    margin-right: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.date-button {
    background: none;
    border: none;
    cursor: pointer;
}

.month-year-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#currentMonthYear {
    margin-right: 40px;
    margin-left: 5px;
    width: 800px;
}

.button-container {
    width: 900px;
}


.month-button {
    width: 100px;
    font-size: 16px;
    cursor: pointer;
}

.disabled {
    color: #999;
}

.selected {
    background-color: #f0f0f0;
}

.button {
    display: block;
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.left-sidebar {
    width: 230px;
    height: 100%;
    margin-right: 20px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.right-sidebar {
    width: 230px;
    height: 100%;
    display: none;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.logo {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
    margin-right: 5px;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 15px;
    max-height: calc(100% - 80px);
    overflow-y: auto;
}

.selected-date-container{
    color:black;
    position: static;
    margin-top: 25px;
    text-align: center;
}

.button-bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}   

#result {
    margin-bottom: 10px;
}   

.right-sidebar.show {
    display: block;
}
