/* confirmation */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 602px;
    height: 360px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
}

.logo {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -90px;
}

.right-side {
    padding: 20px;
    grid-column: 3;
}

.left-side{
    border-right: 1px solid #ccc;
}

.right-side input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
}

.right-side textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
    height: 100px;
}

.right-side button {
    padding: 10px 20px;
    margin-right: 10px;
}