/* schedule */
.container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}


.left {
    flex: 1;
    padding-right: 10px;
}

.center {
    flex: 1;
    padding: 0 10px;
}

.right {
    flex: 1;
    padding-left: 10px;
}

.calendar {
    border: 1px solid #ccc;
    padding: 10px;
}

.schedule {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
}

.button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
}

.button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#selectedDate {
    margin-top: 10px;
    font-weight: bold;
}

#result {
    margin-top: 20px;
}

#submitBtn {
    margin-top: 20px;
}
